@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.clippath{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 20% 0);
}

@media (max-width: 1024px){
    .clippath{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}